trunk/WebServices/cxf_and_axis2/10_BizClient/src/main/resources/BizService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://foo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizService"
	targetNamespace="http://foo.com">
	<wsdl:types>
		<xsd:schema targetNamespace="http://foo.com">
			
			<xsd:element name="productQuery" type="tns:productQueryComplexType"/>
			<xsd:element name="productQueryResult" type="tns:productQueryResultComplexType"/>
			
			<xsd:complexType name="productQueryComplexType">
				<xsd:sequence>
					<xsd:element name="queryItem" maxOccurs="unbounded" minOccurs="1">
						<xsd:complexType>
							<xsd:attribute name="productId" type="xsd:string"/>
							<xsd:attribute name="qty" type="xsd:int"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="productQueryResultComplexType">
				<xsd:sequence>
					<xsd:element name="resultItem" maxOccurs="unbounded" minOccurs="1">
						<xsd:complexType>
							<xsd:attribute name="productId" type="xsd:string"/>
							<xsd:attribute name="price" type="xsd:float"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="invalidProductId" type="xsd:string"/>
			<xsd:element name="invalidQty" type="xsd:int"></xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="queryRequest">
		<wsdl:part element="tns:productQuery" name="parameters" />
	</wsdl:message>
	<wsdl:message name="queryResponse">
		<wsdl:part element="tns:productQueryResult" name="parameters" />
	</wsdl:message>

	<wsdl:message name="queryInvalidProductId">
		<wsdl:part name="parameters" element="tns:invalidProductId"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryInvalidQty">
		<wsdl:part name="parameters" element="tns:invalidQty"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="BizService">
		<wsdl:operation name="query">
			<wsdl:input message="tns:queryRequest" />
			<wsdl:output message="tns:queryResponse" />
            <wsdl:fault name="f01" message="tns:queryInvalidProductId"></wsdl:fault>
            <wsdl:fault name="f02" message="tns:queryInvalidQty"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="BizServiceSOAP" type="tns:BizService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="query">
			<soap:operation soapAction="http://foo.com/query" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="f01">
				<soap:fault use="literal" name="f01" />
			</wsdl:fault>
			<wsdl:fault name="f02">
				<soap:fault use="literal" name="f02" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BizService">
		<wsdl:port binding="tns:BizServiceSOAP" name="BizServiceSOAP">
			<soap:address location="http://localhost:8080/bizService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
