trunk/WebServices/JAXB/JAXB-Examples/src/main/xsd/customization-test.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <xsd:element name="classType" type="ClassType"/>
    <xsd:complexType name="ClassType">
        <xsd:sequence>
            <xsd:element name="grade" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="grade" type="xsd:string" use="optional"/>
    </xsd:complexType>
</xsd:schema>
