vzwaims/scm/pwap/common/Content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by testing (testing inc) -->
<xsd:schema targetNamespace="http://www.vzw.com/namespace/scm" xmlns:scm="http://www.vzw.com/namespace/scm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="Policies.xsd"/>
	<xsd:complexType name="PriceValueType">
		<xsd:sequence>
			<xsd:element name="value">
				<xsd:annotation>
					<xsd:documentation>Price Value </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="9"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="currency_type">
				<xsd:annotation>
					<xsd:documentation>ISO 4217 Currency Alpha Code</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevenueModelType">
		<xsd:annotation>
			<xsd:documentation>Determines how to charge for an Item, and what to charge for an item. At least one license must be entered, and at least one revenue model for that license type. Duplicates will be ignored, and only the first value will be retained.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>Only one type revenue model is allowed</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Vendor_Split_Percentage" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Percentage of total price Subscriber pays, that the Vendor would expect to be paid. If this value is not specified, then the value must be retrieved from the Vendor Definition.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:fractionDigits value="2"/>
								<xsd:totalDigits value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Vendor_Purchase_Price" type="scm:PriceValueType">
						<xsd:annotation>
							<xsd:documentation>Vendor Specified purchase price. No mark up will apply.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="VSRP" type="scm:PriceValueType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Vendor Suggested Retail Price</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Whole_Sale_Price" type="scm:PriceValueType">
						<xsd:annotation>
							<xsd:documentation>Service Provider Cost. The amount the Service Provider should pay the Vendor when this item is sold to a subscriber</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			<xsd:sequence>
				<xsd:element name="License" type="scm:LicenseType">
					<xsd:annotation>
						<xsd:documentation>License will determine how an item is to be charged. For each way of charging, a revenue model must be specified. Valid types are One Time, Per Download, Usage Based, Trial, or Subscription.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VendorItemIdentifierType">
		<xsd:sequence>
			<xsd:element name="Vendor_Product_Version">
				<xsd:annotation>
					<xsd:documentation>Version of Content, e.g., 1.0</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Vendor_Product_Code">
				<xsd:annotation>
					<xsd:documentation>Internal Vendor product code that uniquely identifies the content from the Vendor perspective.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Vendor_Product_Display">
				<xsd:annotation>
					<xsd:documentation>Name of content as provided by Vendor e.g., Chess</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VendorBriefType">
		<xsd:sequence>
			<xsd:element name="Vendor_Id">
				<xsd:annotation>
					<xsd:documentation>Vendor Id as supplied to vendor by the Service Provider</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VendorItemBriefType">
		<xsd:sequence>
			<xsd:element name="Vendor_Product_ID" type="scm:VendorItemIdentifierType">
				<xsd:annotation>
					<xsd:documentation>Identifier of content</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Vendor_Id" type="scm:VendorBriefType">
				<xsd:annotation>
					<xsd:documentation>The Id of the Vendor as supplied to vendor by the Service Provider</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Vendor_Description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional Description that would be displayed to a Subscriber</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vendor content can either be Premium SMS, which requires a Short Code, and optional Application Code, or it can be any other type which will requires an optional Download_Url</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="Download_URL">
					<xsd:annotation>
						<xsd:documentation>What is the URL of the item to download, e.g., http://someServer/file.mpg</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:anyURI">
							<xsd:maxLength value="100"/>
							<xsd:minLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name="Short_Code" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Routing Code for Premium SMS Applications</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Application_Code" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application Code for Premium SMS Applications</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="DRM_Method" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DRM Management encoding</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
						<xsd:enumeration value="None"/>
						<xsd:enumeration value="Forward Lock"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VzWItemBriefType">
		<xsd:sequence>
			<xsd:element name="Item_Id">
				<xsd:annotation>
					<xsd:documentation>SCM Generated Item ID</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Item_Version">
				<xsd:annotation>
					<xsd:documentation>Version of content as provided by the Vendor</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Item_Display_Name">
				<xsd:annotation>
					<xsd:documentation>The name of this Item that the Service Provider would like to display to the Subscriber.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VzWItemType">
		<xsd:complexContent>
			<xsd:extension base="scm:VzWItemBriefType">
				<xsd:sequence>
					<xsd:element name="Vendor_Item_Info" type="scm:VendorItemBriefType">
						<xsd:annotation>
							<xsd:documentation>Vendor Defined information about an item including Pricing Model</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeviceCapabilitiesType">
		<xsd:sequence>
			<xsd:element name="OS" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OS_Name">
							<xsd:annotation>
								<xsd:documentation>Name of the Operating System this content may run on, e.g., Windows</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string"/>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OS_Version" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Version of the Operatin System this content runs on, e.g., 95, or leave blank for any.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="20"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Browser" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BR_Type">
							<xsd:annotation>
								<xsd:documentation>If the item requires a browser, which browers does it support, e.g., Openwave</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string"/>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="BR_Version" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>What version of the browser is supported, e.g., 1.0, or leave blank for any version.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Display_Colors" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How many colors, for colors displays does this item require, e.g., 4096 for a 12 bit display.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="8"/>
						<xsd:fractionDigits value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Display_Technology" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Does this item require a LCD  or bitmapped display.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Network_Access" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Does this item require access to the network in order to run</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Download_Method" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Download_Method">
							<xsd:annotation>
								<xsd:documentation>What method is used to deliver the content to the Subscriber's device, e.g., J2ME for MIDP Java Applications.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string"/>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Download_Version" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>What version is required, e.g., 1.0, or leave blank for any.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Protocols" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="Protocol">
							<xsd:annotation>
								<xsd:documentation>What protocols does the content require</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string"/>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContentType">
		<xsd:sequence>
			<xsd:element name="Categorization">
				<xsd:annotation>
					<xsd:documentation>Type of content. This is a general classification of the content. The MIME type will indicate exactly what type, e.g., a text based Ringtone.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
						<xsd:enumeration value="APPLICATN"/>
						<xsd:enumeration value="AUDIO"/>
						<xsd:enumeration value="AUDIO_ST"/>
						<xsd:enumeration value="CONTENT"/>
						<xsd:enumeration value="CONTENT_ST"/>
						<xsd:enumeration value="IMAGE"/>
						<xsd:enumeration value="PREM_SMS"/>
						<xsd:enumeration value="PREM_WAP"/>
						<xsd:enumeration value="RINGTONE"/>
						<xsd:enumeration value="VIDEO"/>
						<xsd:enumeration value="VIDEO_ST"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MIME_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mime Type of content. Used with Product_Type to help classify content</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
