vzwaims/scm/pwap/common/PPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by testing (testing inc) -->
<xsd:schema targetNamespace="http://www.vzw.com/namespace/scm" xmlns:scm="http://www.vzw.com/namespace/scm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="Policies.xsd"/>
	<xsd:include schemaLocation="Content.xsd"/>
	<xsd:include schemaLocation="Category.xsd"/>
	<xsd:complexType name="PPPBriefType">
		<xsd:sequence>
			<xsd:element name="BillingCode" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Unique identifier of the Price Plan package. Vendor should echo back in the billing record sent to CCE. This value will never change once published.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberClassBriefType">
		<xsd:sequence>
			<xsd:element name="Subscriber_Class_Id">
				<xsd:annotation>
					<xsd:documentation>SCM Unique Identifier for a Subscriber Class</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PricePlanHeaderType">
		<xsd:sequence>
			<xsd:element name="ppp_id" type="scm:PPPBriefType">
				<xsd:annotation>
					<xsd:documentation>Unique identifier of the Price Plan package. Vendor should echo back in the billing record sent to CCE. This value will never change once published.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Date that this Price Plan Package is effective and available to subscribers. The date is always starts from 12:00AM GMT of the Start Date. This date will never change once published.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional End Date of the Price Plan Package. The date is always 12:00AM GMT on the next day after  the End Date. If no End Date is specified, it is assumed that the Price Plan Package never expires. This value may be extended before the date is reached to extend the current offer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="displayName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional Display Name to subscriber for the Package. This value will never change once published.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="subscriberClass" type="scm:SubscriberClassBriefType">
				<xsd:annotation>
					<xsd:documentation>Class of User who may purchase this Package, e.g., Gold. This value will never change once published.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceAreaName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional Service Area, e.g., New York Metro, in which this Prioce Plan is offered. This value will never change once published.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="status">
				<xsd:annotation>
					<xsd:documentation>Will indicate if PPP is active or inactive. Will change on re-publish </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Active"/>
						<xsd:enumeration value="Inactive"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdviceOfChargeType">
		<xsd:sequence>
			<xsd:element name="listPrice">
				<xsd:annotation>
					<xsd:documentation>Verbal representation of the Retail_Price with no discount applied.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="yourPrice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Verbal representation of the Retail_Price with a discount applied. In the case of a simple Flat discount, CCE can calulate this value, however for more complex discounts or multiple discounts, which rely on up-to the minute purchase informaiton, e.g., Buy 2 get 1 free, the OTA server calculate. This field will be null in those cases.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberLicenseType">
		<xsd:sequence>
			<xsd:element name="licenseType">
				<xsd:annotation>
					<xsd:documentation>How a user may this Item, either limited by Time, or Number of Uses. Will not change if re-published. With the licenseUint, this determines when a user must re-purchase the item. Will not change on re-publish.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="licenseUnit">
				<xsd:annotation>
					<xsd:documentation>For limited by Time, how many days the user may have this item, and for Number of Uses, how many uses they can have. Will not change on re-publish.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberClassType">
		<xsd:complexContent>
			<xsd:extension base="scm:SubscriberClassBriefType">
				<xsd:sequence>
					<xsd:element name="subscriberClassName">
						<xsd:annotation>
							<xsd:documentation>Name of Subscriber class. May change on Re-publish.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="defaultSubscriberClassIndicator" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Indicates if this Subscriber Class is a default subscriber class. Only one default subscriber class is allowed per subscriberClassProvisioningType. May change on re-publish.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemCategoryPPPType">
		<xsd:complexContent>
			<xsd:extension base="scm:PricePlanHeaderType">
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>When no value is present this element shall be absent.</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="Item_Category" type="scm:ItemCategoryBriefType">
						<xsd:annotation>
							<xsd:documentation>Item Category Id this price plan package applies to. Will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Purchasable" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Indicates if this Price Plan Package for an Item Category can be purchased by a Subscriber. Will not change if re-published. An Item Category can be either Purchasable or Display only for a given Subscriber Class, but not both at the same time.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Retail_Price" type="scm:PriceValueType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>If Purchasable, the purchase price of the Item Category. This could also be the re-occuring cost if the accounting policy choosen is Subscription Based. Will not change if re-published.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="purchasePrice" type="scm:AdviceOfChargeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Advice Of Charge for Item Category.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="downloadPrice" type="scm:AdviceOfChargeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Advice of Charge for Items In the Item Category if Accounting Policyt is of type Per-Download.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Accounting_Policy" type="scm:AccountingPolicyBriefType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Id of the Accounting Policy used. Points to the Accounting Policy definition contained in this document. Will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Discount_Policy" type="scm:DiscountPolicyAssoc" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Discount Policy Association. May change on re-publish. Dates will not overlap.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="licenseType" type="scm:SubscriberLicenseType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>How a user may this Item, either limited by Time, or Number of Uses. Will not change if re-published. With the licenseUint, this determines when a user must re-purchase the item. Will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ItemChargeValues" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence maxOccurs="unbounded">
								<xsd:element name="ItemList">
									<xsd:annotation>
										<xsd:documentation>When the Accounting Policy is of type Per Download at Item Price, then this will contain the list of Items in the Item Category, and their associated Charge Values. This may change on re-publish if items are added/removed from the Item Category.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="scm:VzWItemBriefType">
												<xsd:sequence>
													<xsd:element name="Retail_Price" type="scm:PriceValueType">
														<xsd:annotation>
															<xsd:documentation>The charge value of this item. Should not change on republish, unless Vendor has updated licensing values for the item.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:extension>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemPPPType">
		<xsd:complexContent>
			<xsd:extension base="scm:PricePlanHeaderType">
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>When no value is present this element shall be absent.</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="Item" type="scm:VzWItemBriefType">
						<xsd:annotation>
							<xsd:documentation>Item Id this price plan package applies to. Will not change on re-publish. This is the internal CCE defined Id.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Retail_Price" type="scm:PriceValueType">
						<xsd:annotation>
							<xsd:documentation>The purchase price of the Item. This could also be the re-occurring cost if the accounting policy chosen is Subscription Based. Will not change if re-published.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="licenseType" type="scm:SubscriberLicenseType">
						<xsd:annotation>
							<xsd:documentation>How a user may this Item, either limited by Time, or Number of Uses. Will not change if re-published. With the licenseUint, this determines when a user must re-purchase the item. Will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="purchasePrice" type="scm:AdviceOfChargeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Advice Of Charge for Content.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Accounting_Policy" type="scm:AccountingPolicyBriefType">
						<xsd:annotation>
							<xsd:documentation>Id of the Accounting Policy used. Points to the Accounting Policy definition contained in this document. Will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Discount_Policy" type="scm:DiscountPolicyAssoc" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Id of the Discount Policy used. Points to the Discount Policy definition contained in this document. May change on re-publish. Discount Policy dates will not overlap</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ServiceType">
		<xsd:sequence>
			<xsd:element name="Service_identifier">
				<xsd:annotation>
					<xsd:documentation>Service Provider Defined Identifier.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
