WebServices/cxf-skeleton/src/main/webapp/WEB-INF/employee.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="employeeService" 
                  targetNamespace="http://ws.generated.com/" 
                  xmlns:ns1="http://cxf.apache.org/bindings/xformat" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://ws.generated.com/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" 
                   elementFormDefault="unqualified" 
                   targetNamespace="http://ws.generated.com/" 
                   xmlns:tns="http://ws.generated.com/" 
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="deleteEmployee" type="tns:deleteEmployee"/>
            <xs:element name="deleteEmployeeResponse" type="tns:deleteEmployeeResponse"/>
            <xs:element name="getEmployee" type="tns:getEmployee"/>
            <xs:element name="getEmployeeAddress" type="tns:getEmployeeAddress"/>
            <xs:element name="getEmployeeAddressResponse" type="tns:getEmployeeAddressResponse"/>
            <xs:element name="getEmployeeResponse" type="tns:getEmployeeResponse"/>
            <xs:element name="getEmployerInformation" type="tns:getEmployerInformation"/>
            <xs:element name="getEmployerInformationResponse" type="tns:getEmployerInformationResponse"/>
            <xs:complexType name="deleteEmployee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteEmployeeResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getEmployee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployeeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:employee"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="employee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeId" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployeeAddress">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployeeAddressResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployerInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empId" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployerInformationResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EmployeeFault" type="tns:EmployeeFault"/>
            <xs:complexType name="EmployeeFault">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEmployerInformationResponse">
        <wsdl:part element="tns:getEmployerInformationResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteEmployeeResponse">
        <wsdl:part element="tns:deleteEmployeeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployee">
        <wsdl:part element="tns:getEmployee" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EmployeeFault">
        <wsdl:part element="tns:EmployeeFault" name="EmployeeFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteEmployee">
        <wsdl:part element="tns:deleteEmployee" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeAddressResponse">
        <wsdl:part element="tns:getEmployeeAddressResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployerInformation">
        <wsdl:part element="tns:getEmployerInformation" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeResponse">
        <wsdl:part element="tns:getEmployeeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeAddress">
        <wsdl:part element="tns:getEmployeeAddress" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmployeeService">
        <wsdl:operation name="deleteEmployee">
            <wsdl:input message="tns:deleteEmployee" name="deleteEmployee">
            </wsdl:input>
            <wsdl:output message="tns:deleteEmployeeResponse" name="deleteEmployeeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployee">
            <wsdl:input message="tns:getEmployee" name="getEmployee">
            </wsdl:input>
            <wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse">
            </wsdl:output>
            <wsdl:fault message="tns:EmployeeFault" name="EmployeeFault">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeAddress">
            <wsdl:input message="tns:getEmployeeAddress" name="getEmployeeAddress">
            </wsdl:input>
            <wsdl:output message="tns:getEmployeeAddressResponse" name="getEmployeeAddressResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployerInformation">
            <wsdl:input message="tns:getEmployerInformation" name="getEmployerInformation">
            </wsdl:input>
            <wsdl:output message="tns:getEmployerInformationResponse" name="getEmployerInformationResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="employeeServiceSoapBinding" type="tns:EmployeeService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteEmployee">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="deleteEmployee">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getEmployee">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeeFault">
                <soap:fault name="EmployeeFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeAddress">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getEmployeeAddress">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmployeeAddressResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployerInformation">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getEmployerInformation">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmployerInformationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="employeeService">
        <wsdl:port binding="tns:employeeServiceSoapBinding" name="EmployeeServiceImplPort">
            <soap:address location="http://localhost:9090/cxf/services/employee"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>