trunk/WebServices/cxf_and_axis2/19_BookService/src/main/xsd/BookService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ttdev.com/bs"
	xmlns:tns="http://ttdev.com/bs" elementFormDefault="qualified">
	<element name="book">
		<complexType>
			<sequence>
				<element name="isbn" type="string"></element>
				<element name="title" type="string"></element>
			</sequence>
		</complexType>
	</element>
</schema>