trunk/vzwaims/scm/pwap/common/Policies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by testing (testing inc) -->
<xsd:schema targetNamespace="http://www.vzw.com/namespace/scm" xmlns:scm="http://www.vzw.com/namespace/scm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="AccountingPolicyBriefType">
		<xsd:sequence>
			<xsd:element name="Accounting_Policy_Id">
				<xsd:annotation>
					<xsd:documentation>Global unique identifier of Accounting Policy</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LicenseType">
		<xsd:sequence>
			<xsd:element name="Licenses">
				<xsd:annotation>
					<xsd:documentation>License will determine how an item is to be charged. For each way of charging, a revenue model must be specified. Valid types are One Time, Per Download, Usage Based, Trial, or Subscription.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="One Time"/>
						<xsd:enumeration value="Per Item At Fixed Price"/>
						<xsd:enumeration value="Usage Based"/>
						<xsd:enumeration value="Trial"/>
						<xsd:enumeration value="Subscription Based"/>
						<xsd:enumeration value="Default"/>
						<xsd:enumeration value="Per Item At Item Price"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UsageType">
		<xsd:sequence>
			<xsd:element name="itemInstrumentationCode">
				<xsd:annotation>
					<xsd:documentation>For Usage Based Accounting Policies, this determines what Instrumentation code to charge on, e.g., Number Of Uses, or Per Level. The Item must be instrumented correctly in order to be used in an Item Price Plan Package. Will not change on Re-Publish.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="itemInstrumentationValue">
				<xsd:annotation>
					<xsd:documentation>For Usage Based Accounting Policies, this determines what Instrumentation Value for the Instrumentation Code to charge on, e.g., 5 Uses, or Level 10. The Item must be instrumented correctly in order to be used in an Item Price Plan Package. Will not change on Re-Publish.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountingPolicyType">
		<xsd:complexContent>
			<xsd:extension base="scm:AccountingPolicyBriefType">
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>When no value is present this element shall be absent.</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="accountingPolicyName">
						<xsd:annotation>
							<xsd:documentation>The name of the Accounting Policy. May change if re-published.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="accountingPolicyType" type="scm:LicenseType">
						<xsd:annotation>
							<xsd:documentation>The type of the Accounting Policy. This field determines how a Subscriber is to be charged for an item, such as Per Download, One Time, or Subscription Based. Will not change when re-published.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accountingPolicyDescription" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional Description of the Accoutning Policy. May change on Re-publish.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="StartDate" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation>Beginning Date that the Accounting Policy is effective. Will not change on re-publish. The Price Plan Package Start Date must be greater than or equal to this date.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="EndDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional date when the Accounting Policy Expires. If not specified, then never is assumed. The Price Plan Package must expire on or before this date. Will not change when re-published.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="maxApplicablePeriod">
						<xsd:annotation>
							<xsd:documentation>The time period for which the Subscriber may license the item. The value is measured in days. This is a default value  used to populate the Price Plan Package, and can be overridden in the Price Plan Package. This will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="chargingFrequency" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>For Subscription based Accouting Policies, defines how often to charge a Subscriber on a re-occuring basis. This will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
								<xsd:enumeration value="Monthly"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="itemInstrumentation" type="scm:UsageType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>For Usage Based Accounting Policies, this determines what Instrumentation code to charge on, e.g., Number Of Uses, or Per Level. The Item must be instrumented correctly in order to be used in an Item Price Plan Package. Will not change on Re-Publish.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DiscountKindType">
		<xsd:sequence>
			<xsd:element name="discountPolicyType">
				<xsd:annotation>
					<xsd:documentation>Type of discount to be applied, e.g., Flat Rate. Will not change on re-publish.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiscountPolicyBriefType">
		<xsd:sequence>
			<xsd:element name="Discount_Policy_Id">
				<xsd:annotation>
					<xsd:documentation>Global unique identifier of the discount policy</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiscountPolicyType">
		<xsd:complexContent>
			<xsd:extension base="scm:DiscountPolicyBriefType">
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>When no value is present this element shall be absent.</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="discountPolicyName">
						<xsd:annotation>
							<xsd:documentation>Name of Discount Policy. May change on re-publish.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="discountPolicyDescription" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional description of this Discount Policy. May change on re-publish.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="discountPolicyType" type="scm:DiscountKindType">
						<xsd:annotation>
							<xsd:documentation>Type of discount to be applied, e.g., Flat Rate. Will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="discountPercent">
						<xsd:annotation>
							<xsd:documentation>The percentage off to apply, e.g., 10%. This value will not change if re-published.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="factorOfN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>For complex discount policies, required for Discount on N downloads or Buy N get M free. Will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="factorOfM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Required for Buy N get M free. Will not change on re-publish.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DiscountPolicyAssoc">
		<xsd:sequence>
			<xsd:element name="DiscountPolicy" type="scm:DiscountPolicyBriefType">
				<xsd:annotation>
					<xsd:documentation>Id of the Discount Policy used. Points to the Discount Policy definition contained in this document. Will not change on re-publish.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DiscountStartDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Start Date for Discount Policy. Will not change on republish.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DiscountEndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional End  Date for Discount Policy. Will not change on republish.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
