trunk/vzwaims/etc/metadata/amdocs/qpass-ProductOffer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:tns="http://api.qpass.com/productoffer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.qpass.com/productoffer" elementFormDefault="qualified">
	<xsd:element name="ProductOffer" type="tns:ProductOfferType">
		<xsd:annotation>
			<xsd:documentation>
				Contains the information required for creating a product offer.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="OfferExpirationEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="retires"/>
			<xsd:enumeration value="neverRetires"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OfferPricingMethodsEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="pos"/>
			<xsd:enumeration value="standard"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OfferPackagingOptionsEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="item"/>
			<xsd:enumeration value="instance"/>
			<xsd:enumeration value="countedAccess"/>
			<xsd:enumeration value="bundleAccess"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OfferChargeFrequencyEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="oneTime"/>
			<xsd:enumeration value="recurring"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OfferChagePeriodicityUnitsEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Days"/>
			<xsd:enumeration value="Weeks"/>
			<xsd:enumeration value="Months"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OfferReaccessWithinEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mins"/>
			<xsd:enumeration value="hrs"/>
			<xsd:enumeration value="days"/>
			<xsd:enumeration value="months"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OfferReaccessUntilEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="eod"/>
			<xsd:enumeration value="eow"/>
			<xsd:enumeration value="eom"/>
			<xsd:enumeration value="eoy"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OfferAccessPeriodOptionsEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="free"/>
			<xsd:enumeration value="expires"/>
			<xsd:enumeration value="within"/>
			<xsd:enumeration value="until"/>
		</xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TaxNexusPreferenceEnumType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CONTENT_PROVIDER"/>
            <xsd:enumeration value="NETWORK_OPERATOR"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="approveOfferType">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="true" />
    		<xsd:enumeration value="false" />
    	</xsd:restriction>
    </xsd:simpleType>
    
    
    <xsd:simpleType name="refundableType">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="true" />
    		<xsd:enumeration value="false" />
    	</xsd:restriction>
    </xsd:simpleType>
    
    
    <xsd:simpleType name="concludableType">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="true" />
    		<xsd:enumeration value="false" />
    	</xsd:restriction>
    </xsd:simpleType>
  
    <xsd:simpleType name="chargesAggregatableType">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="true" />
    		<xsd:enumeration value="false" />
    	</xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ProductOfferType">
		<xsd:annotation>
			<xsd:documentation>
			     Complex type representing the root element containing errors and product offer data.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="errors" type="tns:ErrorsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
				     	Complex type containing the error messages that may occur while validating a user request or while creating a product offer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productOfferData" type="tns:ProductOfferDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						This complex type containing all product related information.						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorsType">
		<xsd:sequence>
			<xsd:element name="error" type="tns:ErrorType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Collection of errors containing the error code and associated error message.  
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorType">
		<xsd:sequence>
			<xsd:element name="responseCode" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>
						Code indicating success or failure of the request.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="responseMessage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Descriptive message corresponding to the responseCode.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductOfferDataType">
		<xsd:sequence>
			<xsd:element name="offerId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Unit identifier representing an offer, to be used for the purchase transactions.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vendorWorkingName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Represents the name of the organization under which the offer is created.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productOfferTermData" type="tns:ProductOfferTermDataType">
				<xsd:annotation>
					<xsd:documentation>
						Contains detailed information about the product offer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			       
			       
			<xsd:element name="approveOffer" type="tns:approveOfferType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether or not the offer can be auto-approved.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="refundable" type="tns:refundableType"
				minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether an offer can be refunded by a consumer using OAC.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="concludable" type="tns:concludableType"
				minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether an offer can be concluded by a consumer using OAC.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="chargesAggregatable"
				type="tns:chargesAggregatableType" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether a consumer needs to be billed 
						immediately after purchase or a billing delay should
						be used. This is applicable only for credit card purchases.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxNexusPreference"
				type="tns:TaxNexusPreferenceEnumType" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation>
						Determines the party responsible for paying the tax.
						This is either the content provider or network operator.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
           
           <xsd:element name="contractTemplateId" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The revenue distribution offer-level contract template id associated with the offer.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductOfferTermDataType">
		<xsd:sequence>
			<xsd:element name="offerName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Name of the offer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="offerDescription" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Description of the offer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="offerCategoryData" type="tns:OfferCategoryEnumDataType">
				<xsd:annotation>
					<xsd:documentation>
						Category to which the product offer belongs. For example: 
						Game, RingTone, News, Weather etc.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxSchemaData" type="tns:TaxSchemaDataType">
				<xsd:annotation>
					<xsd:documentation>
						Tax category is used to determine sales tax rate. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="offerExpiration" type="tns:OfferExpirationEnumType">
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether or not the offer is set to expire or never expire.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="offerExpirationDate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The date on which the offer will expire.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="priceSchemeData" type="tns:PriceSchemeDataType">
				<xsd:annotation>
					<xsd:documentation>
						Contains price-related information about the offer. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentPlanData" type="tns:PaymentPlanDataType">
				<xsd:annotation>
					<xsd:documentation>
						Contains payment-related information about the offer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requirementData" type="tns:RequirementDataType">
				<xsd:annotation>
					<xsd:documentation>
						Contains a list of payment methods associated with the offer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		    <xsd:element name="compositionData" type="tns:CompositionDataType">
				<xsd:annotation>
					<xsd:documentation>
						Contains access-related information.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="countedAccessOfferTermsData" type="tns:OfferPackagingOptionsDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether or not this is a counted access or bundle product.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OfferCategoryEnumDataType">
		<xsd:sequence>
			<xsd:element name="offerCategory" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					   Represents the offer category 			 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxSchemaDataType">
		<xsd:sequence>
			<xsd:element name="taxCategory" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Tax code category associated with the product offer; 
						for example, "online software" is a tax category 
						associated with an online software product offer.
				     </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceSchemeDataType">
		<xsd:sequence>
			<xsd:element name="offerPrice" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Indicates the price of the product in the offer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="offerPricingMethod" type="tns:OfferPricingMethodsEnumType">
				<xsd:annotation>
					<xsd:documentation>
					   Indicates either standard or point-of-sale pricing.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="offerPriceAdjustable" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
					  Evaluate offer for promotions when possible. This may result in price adjustment at point of sale. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentPlanDataType">
		<xsd:sequence>
			<xsd:element name="chargeFrequency" type="tns:OfferChargeFrequencyEnumType">
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether or not the consumer is charged once (one-time) or on an ongoing basis (recurring).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="periodicityInterval" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
					    Periodicity interval for the purchased item. This exists only for a recurring product.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="periodicityUnit" type="tns:OfferChagePeriodicityUnitsEnumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Indicates the periodicity interval for the purchased item;
						 for example, "Days". This exists only for a recurring product.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="billingDelay" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
                       Indicates the number of days to delay before the start of the billing cycle after an initial free period. 
                     </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="recurringChargePeriodInterval" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
                       Indicates the total charge periods of a recurring charge offer with end-date. 
                     </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequirementDataType">
		<xsd:sequence>
			<xsd:element name="paymentMethod" type="xsd:string" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						The method of payment used to purchase the offer. For example, credit card or prepaid card.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompositionDataType">
		<xsd:sequence>
			<xsd:element name="constraintData" type="tns:ConstraintDataType">
				<xsd:annotation>
					<xsd:documentation>
			            Constraint data for the purchased item. 
			            Includes access period, reaccessWithinTimeCount, 
			            and reaccessWithinTimeUnit.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConstraintDataType">
		<xsd:sequence>
			<xsd:element name="accessPeriodOption" 
			type="tns:OfferAccessPeriodOptionsEnumType">
				<xsd:annotation>
					<xsd:documentation>
						Indicates the access period option for the purchased item;
						for example, "free", "expires", "within", "until".
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reaccessWithinTimeCount" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Indicates the duration in minutes, hours, days, months in which user can reaccess the purchased item. For example, allow access for 2 days.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reaccessWithinTimeUnit" type="tns:OfferReaccessWithinEnumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Allow access for a specific period. 
						The period can be any of the following: 
						"mins" for minutes, "hrs" for hours, 
						"days" for days, "months" for months.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reaccessUntil" type="tns:OfferReaccessUntilEnumType" 
			minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Allow access until midnight. 
						Note: Dates and times are in UTC. 
						Rules will be enforced in UTC for all consumers, 
						regardless of their local time.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OfferPackagingOptionsDataType">
		<xsd:sequence>
			<xsd:element name="offerPackagingType" type="tns:OfferPackagingOptionsEnumType">
				<xsd:annotation>
					<xsd:documentation>
						 Indicates the packaging type for the product offer.
						 For example: item, instance, counted access, or bundle access.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxAccessCount" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Indicates the number of counts (pick or access) available for the purchased item.
						For example, a bundle offer can be created with a maxAccessCount of 3 picks.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityPeriod" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>					   
						Indicates the allowed period for the pick/access of the purchased item.
						For example, an item may be set up with a validity period of 5 days post-purchase for accessing that item. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="overageAllowed" type="xsd:boolean" minOccurs="0" default="false">
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether or not an overage is allowed for a pick/access.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="overageCharge" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The overage charge for each pick /access over the set limit.   
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	 <xsd:simpleType name="ResponseCode">
        <xsd:annotation>
            <xsd:documentation>Response codes of auto approval offer web service.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="0">
                <xsd:annotation>
                    <xsd:documentation>Success</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="51020">
                <xsd:annotation>
                    <xsd:documentation>Missing Parameter in user request.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="51050">
                <xsd:annotation>
                    <xsd:documentation>Invalid Parameter in user request.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="62010">
                <xsd:annotation>
                    <xsd:documentation>Invalid Offer ID, or Offer ID already taken in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="52060">
                <xsd:annotation>
                    <xsd:documentation>Permission denied to invoke the requested API.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="63010">
                <xsd:annotation>
                    <xsd:documentation>Authentication Failure while authenticate the certificate/role.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="63050">
                <xsd:annotation>
                    <xsd:documentation>Request is invalid.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="63499">
                <xsd:annotation>
                    <xsd:documentation>A System error/run time exception occurred while processing the request.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="42050">
                <xsd:annotation>
                    <xsd:documentation>Invalid or expired contract template Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="50230">
                <xsd:annotation>
                    <xsd:documentation>Vendor does not exist.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
                        
        </xsd:restriction>
    </xsd:simpleType>
			
</xsd:schema>


