vzwaims/webpages/schema/VZAppZoneRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <xs:element name="Asset">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="AssetId"/>
                        <xs:element ref="AssetVersion" minOccurs="0"/>
                        <xs:element ref="AssetSubType" minOccurs="0"/>
                        <xs:element ref="Device" maxOccurs="unbounded"/>
                        <xs:element ref="Language" maxOccurs="unbounded"/>
                        <xs:element ref="AssetDetails"/>
                        <xs:element ref="AssetPreviewDetails" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="required"/>
                  <xs:attribute name="action" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="ADD"/>
                                    <xs:enumeration value="MODIFY"/>
                                    <xs:enumeration value="DELETE"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="AssetDetails">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="AssetLocation"/>
                        <xs:element ref="AssetSize"/>
                        <xs:element ref="AssetMimeType"/>
                        <xs:element ref="AssetProperties" minOccurs="0"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="AssetId" type="xs:long"/>
      <xs:element name="AssetLocation" type="xs:string"/>
      <xs:element name="AssetMimeType" type="xs:string"/>
      <xs:element name="AssetPreviewDetails">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="PreviewLocation"/>
                        <xs:element ref="PreviewSize"/>
                        <xs:element ref="PreviewMimeType"/>
                        <xs:element ref="PreviewProperties" minOccurs="0"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="AssetProperties">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="Property" maxOccurs="unbounded"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="AssetSize" type="xs:int"/>
      <xs:element name="AssetVersion" type="xs:string"/>
      <xs:element name="AssetSubType" type="xs:string"/>
      <xs:element name="AuthorName" type="xs:string"/>
      <xs:element name="AverageUserRating" type="xs:float"/>
      <xs:element name="Price" type="xs:double"/>
      <xs:element name="Category">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="CategoryPath"/>
                        <xs:element ref="CategoryOrder" minOccurs="0"/>
                        <xs:element name="CategoryLanguageVariants" minOccurs="0">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element ref="CategoryLanguageVariant" maxOccurs="unbounded"/>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
                  <xs:attribute name="action" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="ADD"/>
                                    <xs:enumeration value="MODIFY"/>
                                    <xs:enumeration value="DELETE"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="CategoryLanguageVariant">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="LanguageCode"/>
                        <xs:element ref="CategoryName"/>
                  </xs:sequence>
                  <xs:attribute name="action" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="ADD"/>
                                    <xs:enumeration value="MODIFY"/>
                                    <xs:enumeration value="DELETE"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="CategoryName" type="xs:string"/>
      <xs:element name="CategoryOrder" type="xs:integer"/>
      <xs:element name="CategoryPath" type="xs:string"/>
      <xs:element name="Content">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="ContentId" minOccurs="0"/>
                        <xs:element ref="DisplayName" minOccurs="0"/>
                        <xs:element ref="Description" minOccurs="0"/>
                        <xs:element ref="Asset" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ContentProperties" minOccurs="0"/>
                        <xs:element name="PricePlans" minOccurs="0">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element ref="PricePlan" maxOccurs="unbounded"/>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                        <xs:element name="ContentCategories" minOccurs="0">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element ref="ContentCategory" maxOccurs="unbounded"/>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                        <xs:element ref="ContentStatus" minOccurs="0"/>
                        <xs:element name="ContentLanguageVariants" minOccurs="0">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element ref="ContentLanguageVariant" maxOccurs="unbounded"/>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                        <xs:element ref="ContentType" minOccurs="0"/>
                        <xs:element name="ContentSubType" type="xs:string" minOccurs="0"/>
                        <xs:element ref="ContentDetail" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="action" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="ADD"/>
                                    <xs:enumeration value="MODIFY"/>
                                    <xs:enumeration value="DELETE"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="ContentDetail">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="Genre" minOccurs="0"/>
                        <xs:element ref="AuthorName" minOccurs="0"/>
                        <xs:element ref="ShortDescription" minOccurs="0"/>
                        <xs:element ref="VendorName" minOccurs="0"/>
                        <xs:element ref="SalesRanking" minOccurs="0"/>
                        <xs:element ref="Keywords" minOccurs="0"/>
                        <xs:element ref="ContentRating" minOccurs="0"/>
                        <xs:element name="NumberOfUserRatings" type="xs:int" default="-1" minOccurs="0"/>
                        <xs:element ref="AverageUserRating" minOccurs="0">
                              <xs:annotation>
                                    <xs:documentation>1.0 - 5.0</xs:documentation>
                              </xs:annotation>
                        </xs:element>
                        <xs:element ref="OptInType" minOccurs="0"/>
                        <xs:element ref="FirstOptInText" minOccurs="0"/>
                        <xs:element ref="SecondOptInText" minOccurs="0"/>
                        <xs:element name="ContentDetailLanguageVariants" minOccurs="0">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element ref="ContentDetailLanguageVariant" maxOccurs="unbounded"/>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="ContentDetailLanguageVariant">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="LanguageCode"/>
                        <xs:element ref="ShortDescription" minOccurs="0"/>
                        <xs:element ref="Keywords" minOccurs="0"/>
                        <xs:element ref="FirstOptInText" minOccurs="0"/>
                        <xs:element ref="SecondOptInText" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="action" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="ADD"/>
                                    <xs:enumeration value="MODIFY"/>
                                    <xs:enumeration value="DELETE"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="ContentId">
            <xs:simpleType>
                  <xs:restriction base="xs:string"/>
            </xs:simpleType>
      </xs:element>
      <xs:element name="ContentCategory">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="CategoryPath"/>
                        <xs:element ref="ContentOrder" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="action" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="ADD"/>
                                    <xs:enumeration value="MODIFY"/>
                                    <xs:enumeration value="DELETE"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="ContentLanguageVariant">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="LanguageCode"/>
                        <xs:element ref="DisplayName" minOccurs="0"/>
                        <xs:element ref="Description" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="action" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="ADD"/>
                                    <xs:enumeration value="MODIFY"/>
                                    <xs:enumeration value="DELETE"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="ContentOrder" type="xs:integer"/>
      <xs:element name="ContentStatus" default="PRODUCTION">
            <xs:simpleType>
                  <xs:restriction base="xs:string">
                        <xs:enumeration value="PRODUCTION"/>
                        <xs:enumeration value="SUSPENDED"/>
                  </xs:restriction>
            </xs:simpleType>
      </xs:element>
      <xs:element name="ContentProperties">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="Property" maxOccurs="unbounded"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="ContentRating" type="xs:string">
            <xs:annotation>
                  <xs:documentation>R, PG-13, etc.</xs:documentation>
            </xs:annotation>
      </xs:element>
      <xs:element name="ContentType">
            <xs:simpleType>
                  <xs:restriction base="xs:string">
                        <xs:enumeration value="RINGTONE"/>
                        <xs:enumeration value="WALLPAPER"/>
                        <xs:enumeration value="GAME"/>
                        <xs:enumeration value="APPLICATION"/>
                        <xs:enumeration value="THEME"/>
                        <xs:enumeration value="RINGBACKTONE"/>
                        <xs:enumeration value="MUSIC"/>
                        <xs:enumeration value="MUSICSTREAM"/>
                        <xs:enumeration value="VIDEO"/>
                        <xs:enumeration value="VIDEOSTREAM"/>
                        <xs:enumeration value="OTHER"/>
                        <xs:enumeration value="CUSTOM"/>
                  </xs:restriction>
            </xs:simpleType>
      </xs:element>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="Device">
            <xs:complexType>
                  <xs:simpleContent>
                        <xs:extension base="xs:string">
                              <xs:attribute name="action" use="required">
                                    <xs:simpleType>
                                          <xs:restriction base="xs:NMTOKEN">
                                                <xs:enumeration value="ADD"/>
                                                <xs:enumeration value="MODIFY"/>
                                                <xs:enumeration value="DELETE"/>
                                          </xs:restriction>
                                    </xs:simpleType>
                              </xs:attribute>
                        </xs:extension>
                  </xs:simpleContent>
            </xs:complexType>
      </xs:element>
      <xs:element name="DisplayName" type="xs:string"/>
      <xs:element name="FirstOptInText" type="xs:string"/>
      <xs:element name="Genre" type="xs:string"/>
      <xs:element name="Header">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="UserName"/>
                        <xs:element ref="Password"/>
                        <xs:element ref="InterfaceName"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="InterfaceName" type="xs:string"/>
      <xs:element name="Keywords" type="xs:string">
            <xs:annotation>
                  <xs:documentation>Comma-separated list of keywords.</xs:documentation>
            </xs:annotation>
      </xs:element>
      <xs:element name="Language">
            <xs:complexType>
                  <xs:simpleContent>
                        <xs:extension base="xs:string">
                              <xs:attribute name="action" use="required">
                                    <xs:simpleType>
                                          <xs:restriction base="xs:NMTOKEN">
                                                <xs:enumeration value="ADD"/>
                                                <xs:enumeration value="MODIFY"/>
                                                <xs:enumeration value="DELETE"/>
                                          </xs:restriction>
                                    </xs:simpleType>
                              </xs:attribute>
                        </xs:extension>
                  </xs:simpleContent>
            </xs:complexType>
      </xs:element>
      <xs:element name="LanguageCode" type="xs:string" default="EN"/>
      <xs:element name="ShortDescription" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="OptInType" default="NONE">
            <xs:simpleType>
                  <xs:restriction base="xs:string">
                        <xs:enumeration value="NONE"/>
                        <xs:enumeration value="SINGLE"/>
                        <xs:enumeration value="DOUBLE"/>
                  </xs:restriction>
            </xs:simpleType>
      </xs:element>
      <xs:element name="Password" type="xs:string"/>
      <xs:element name="PlanType" default="ONETIME">
            <xs:simpleType>
                  <xs:restriction base="xs:string">
                        <xs:enumeration value="FREE"/>
                        <xs:enumeration value="ONETIME"/>
                        <xs:enumeration value="SUBSCRIPTION"/>
                        <xs:enumeration value="TRIAL"/>
                  </xs:restriction>
            </xs:simpleType>
      </xs:element>
      <xs:element name="PreviewLocation" type="xs:string"/>
      <xs:element name="PreviewMimeType" type="xs:string"/>
      <xs:element name="PreviewProperties">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="Property" maxOccurs="unbounded"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="PreviewSize" type="xs:int"/>
      <xs:element name="PricePlan">
            <xs:complexType>
                  <xs:all>
                        <xs:element ref="Price"/>
                        <xs:element ref="PlanType"/>
                        <xs:element name="PlanDescription" type="xs:string" minOccurs="0"/>
                        <xs:element name="InvoiceDescription" type="xs:string" minOccurs="0"/>
                        <xs:element name="BillingFrequency" type="xs:positiveInteger" minOccurs="0"/>
                        <xs:element name="NoOfUses" type="xs:positiveInteger" minOccurs="0"/>
                        <xs:element name="NoOfDays" type="xs:positiveInteger" minOccurs="0"/>
                        <xs:element name="RevenueSharePercentage" type="xs:double" minOccurs="0"/>
                  </xs:all>
                  <xs:attribute name="action" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:string">
                                    <xs:enumeration value="ADD"/>
                                    <xs:enumeration value="MODIFY"/>
                                    <xs:enumeration value="DELETE"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="isGeneric" type="xs:boolean" use="required"/>
                  <xs:attribute name="planStatus" use="optional">
                        <xs:simpleType>
                              <xs:restriction base="xs:string">
                                    <xs:enumeration value="A"/>
                                    <xs:enumeration value="P"/>
                                    <xs:enumeration value="I"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="Property">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="Name"/>
                        <xs:element ref="Value"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="RequestBody">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="Category" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="Content" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="RequestData">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="Header"/>
                        <xs:element ref="RequestBody"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="SalesRanking" type="xs:integer"/>
      <xs:element name="SecondOptInText" type="xs:string"/>
      <xs:element name="UserName" type="xs:string"/>
      <xs:element name="Value" type="xs:string"/>
      <xs:element name="VendorName" type="xs:string"/>
</xs:schema>
